html, body {
	height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
    height: 100px; /* .push must be the same height as .footer */
}


body {
	font-family: 'Dosis',sans-serif;
	font-weight: 100;
	text-transform: none;
}

.logo {
	height: 125px;
}


.row {
	padding-top: 50px;
}

a {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #a00;
}

a:active {
	color: #a00;
}

.watermark {
	width: 100%;
	padding-top: 25px;
}

.background {
	width: 25%;
	padding-top: 25px;
}


h1 {
	font-family: 'Dosis',sans-serif;
	font-weight: 100;
}

h3 {
	font-family: 'Dosis',sans-serif;
	font-weight: 100;
}

.col.materials > h3 {
	padding-top: 50px;
}

.col.materials > table{
	width: 100%;
	margin-bottom: 100px;
}

.col.materials > table > tbody > tr{
	font-size: 14px;
}

.col.materials > table > tbody > tr > td{
	padding: 0px;
	padding-right: 2px;
	padding-left: 2px;
	border-top: 0px;
}

img.material {
	width: 100%;
}

img.social {
	width: 50px;
}

